@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    color: #000;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: "";
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: "";
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

/*=============ОБНУЛЕНИЕ СТИЛЕЙ=============*/

body {
    max-height: 100vh;
}
.wraper{
    min-height: 100vh;

    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    
    padding: 10px  50px 0 50px ;

    margin-bottom: 50px;

    padding-bottom: 70px;
}

@media (max-width: 350px) {
    .header{
        padding: 0;
    }
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content img {
    max-width: 200px;
    max-width: 1000px;
}

.menu__upper {
    justify-content: space-between;
    display: flex;
}

.menu__upper li:hover{
    background-color: #9a1212;
    color: #fff;
    transform: scale(1.4);
}

@media (max-width: 840px) {
    .menu__upper a:nth-child(1){
        display: none;
    }
}

@media (max-width: 840px) {
    .menu__upper a:nth-child(2){
        display: none;
    }
}



.menu__upper li {
    font-family: 'Jost', sans-serif;
    text-align: center;
    width: 160px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #f3f3f3;
    letter-spacing: 1.2px;

    margin-left: 50px;

    transition: .4s;
}

@media (max-width: 840px) {
    .menu__upper li{
        margin-left: 20px;
    }
}

.burger{
    display: flex;
    flex-direction: column;
}

.lineburger{
    height: 3px;
    width: 30px;
    margin-bottom: 2px;
    background-color: #000;
}

.lineburger:last-child{
    margin: 0;
}

.menu__upper li:last-child{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.content__row{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    
}

.content{
    
    display: flex;
    justify-content: center;
}

.content__shadow{
    height: 300px;
    width: 180px;

    border-radius: 60px;
    background-color: #c4c4c4;
    margin-right: 60px;
}

@media (max-width: 1260px) {
    .content__shadow:nth-child(1){
        display: none;
    }
}

@media (max-width: 1050px) {
    .content__shadow:nth-child(2){
        display: none;
    }
}

@media (max-width: 830px) {
    .content__shadow:nth-child(3){
        display: none;
    }
}

@media (max-width: 560px) {
    .content__shadow:nth-child(4){
        display: none;
    }
}

.content__row img{
    padding-left: 20px;
    height: 300px;
}

.content__forward{
    height: 60px;
    margin-top: 120px;
}


.footer{
    justify-content: space-between;
    margin-top: auto;

    background-color: #f3f3f3;
    height: 138px;
    
    display: flex;
    align-items: center;
}

.footer p{
    margin-right: 50px;
    font-family: 'Jost', sans-serif;

    font-size: 30px;
    text-align: right;
    color: #9a1212;
    line-height: 55px;
}

@media (max-width: 1260px) {
    .footer p{
        font-size: 20px;
    }
}

@media (max-width: 530px) {
    .footer p{
        font-size: 15px;
        line-height: 30px;
    }
}

.button{
    
}

.button img{
    
    margin-left: 50px;
    height: 70px;
    
    border-radius: 30px;
    padding: 0 20px;
    background-color:#fff;

    transform: rotate(180deg);
}

@media (max-width: 450px) {
    .button img{
        height: 50px;
    }
}
